@import "tailwindcss";
@import "katex/dist/katex.min.css";

@theme {
  --font-sans: "Tajawal", "Alexandria", ui-sans-serif, system-ui, sans-serif;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  overflow-x: hidden;
}
